# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# ======================
# Environment & Secrets
# ======================
.env
.env.*
*.env

# ======================
# Logs
# ======================
*.log

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE / Editor
# ======================
.vscode/
.idea/
*.iml

# ======================
# Testing
# ======================
.pytest_cache/
.coverage
htmlcov/

# ======================
# Build / Dist
# ======================
build/
dist/
*.egg-info/